.bg-secondary {
    background-color: #333333 !important;
}

.copyright {
    background-color: #333333;
    height: 275px;
}

.bg-primary {
    background-color: #2f2f2f !important;
}

hr {
    border: none;
    border-top: 10px solid #514f4f;
    margin: 10px 0;
}

body {
    background-color: rgb(242, 242, 242);
}

nav {
    font-weight: 700;
}

.img-card {
    height: 18vw;
    object-fit: cover;
}

input.form-control {
    background-color: #f4754300;
    color: white;
}

.navbar {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.navbar .navbar-brand img {
    max-width: 100px;
}
.navbar .navbar-nav .nav-link {
    color: #000;
}
@media screen and (min-width: 1024px) {
    .navbar {
        letter-spacing: 0.1em;
    }
    .navbar .navbar-nav .nav-link {
        padding: 0.5em 1em;
    }
    .search-and-icons {
        width: 50%;
    }
    .search-and-icons form {
        flex: 1;
    }
}
@media screen and (min-width: 768px) {
    .navbar .navbar-brand img {
        max-width: 7em;
    }
    .navbar .navbar-collapse {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    .search-and-icons {
        display: flex;
        align-items: center;
    }
}
.contact-info p,
.contact-info a {
    font-size: 0.9em;
    padding-right: 1em;
    color: grey;
}
.contact-info a {
    padding-right: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; /* Ubah angka sesuai kebutuhan */
}

body {
    padding-top: 80px; /* Ubah angka sesuai dengan tinggi navbar */
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 8px 16px;
}

.dropdown-menu li a {
    color: #000000;
    text-decoration: none;
}

.dropdown-menu li:hover {
    background-color: #f2f2f2;
}

.dropdown {
    position: relative;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-img {
    display: flex;
    align-items: center;
}

.navbar-img img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 5px;
}

.footer-main {
    padding-top: 90px;
}

.address-main > div.col-lg-4 {
    border-bottom: dotted 1px #999;
}
.address-box {
    padding: 10px 0;
    margin-bottom: 30px;
}
.add-icon {
    float: left;
    width: 60px;
    display: inline-block;
    padding: 0px 5px;
}
.address-box .add-icon {
    background: #27303b;
    height: 75px;
    line-height: 75px;
    width: 75px;
    margin-right: 20px;
    text-align: center;
}
.add-icon img {
    width: 100%;
}
.address-box .add-icon img {
    max-width: 40px;
}
.add-content {
    padding-left: 70px;
}
.add-content h5 {
    font-size: 17px;
    color: #ffffff;
    padding: 0;
    font-weight: 500;
    margin-bottom: 10px;
}
.add-content p {
    font-size: 13px;
    color: #999999;
    font-weight: 300;
}
.add-content p a {
    font-size: 14px;
    color: #999999;
    font-weight: 300;
    word-wrap: break-word;
}
.add-content p a:hover {
    color: #ffb32d;
}
.footer-main {
    padding-top: 90px;
}

.address-main > div.col-lg-4 {
    border-bottom: dotted 1px #999;
}
.address-box {
    padding: 10px 0;
    margin-bottom: 30px;
}
.add-icon {
    width: 60px;
    display: inline-block;
    padding: 0px 5px;
}
.address-box .add-icon {
    background: #27303b;
    height: 75px;
    line-height: 75px;
    width: 75px;
    margin-right: 20px;
    text-align: center;
}
.add-icon img {
    width: 100%;
}
.address-box .add-icon img {
    max-width: 40px;
}
.add-content {
    padding-left: 70px;
}
.add-content h5 {
    font-size: 17px;
    color: #ffffff;
    padding: 0;
    font-weight: 500;
    margin-bottom: 10px;
}
.add-content p {
    font-size: 13px;
    color: #999999;
    font-weight: 300;
}
.add-content p a {
    font-size: 14px;
    color: #999999;
    font-weight: 300;
    word-wrap: break-word;
}
.add-content p a:hover {
    color: #ffb32d;
}

/* Add your CSS styles here */
.product {
    background-color: #f5f5f5;
    padding: 5px;
}

.container {
    max-width: 1200px;
    margin: 10px;
}

.title-section {
    text-align: center;
    margin-bottom: 20px;
}

.title-section h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.title-section p {
    font-size: 16px;
    margin-bottom: 0;
}

.title-section a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.product__slider {
    background-color: rgba(255, 255, 255, 0);
    padding: 5px;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slider__box {
    width: 280px;
    height: 350px;
    flex-shrink: 0;
    margin-right: 10px;
    background-color: #fffffff8;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.slider-wrap {
    position: relative;
}

.slider__box__label {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #1e2530;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
}

.slider__box__favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.slider__box__image img {
    width: 100%;
    height: 200px;
    margin-top: 3px;
}

.slider__box__content {
    margin-top: 10px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.block__tags {
    background-color: #222534;
    color: #fff;
    padding: 3px 10px;
    font-size: 12px;
}

.block__title {
    font-size: 12px;
    width: 100%;
    height: 70px;
}

.block__price {
    font-size: 16px;
    font-weight: bold;
    margin-top: px;
    display: inline-block;
    margin-left: 10px;
}

.block__action {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.block__action__cart {
    margin-left: 30px;
    justify-content: center;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: #ffffff;
}

.clickable-product {
    text-decoration: none;
    color: inherit;
}

.clickable-product:hover {
    text-decoration: underline;
}

.product-box {
    background-color: #f7f7f700;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.product-info {
    margin-top: 10px;
}

/*Row Produk*/

.details {
    border: 1.5px solid grey;
    color: #212121;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px #212121;
}

.card-body {
    width: fit-content;
    padding: 15px;
}

.btn {
    border-radius: 0;
}

.img-thumbnail {
    border: none;
}

.card {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding-bottom: 10px;
    width: 300px;
    height: 320px;
    transition: all 0.3s ease;
    width: fit-content;
}

.title-section {
    margin-bottom: 20px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 14px;
    height: 100px;
}

.card-text {
    margin-bottom: 15px;
}

.btn.details {
    background-color: #454545;
    color: #fff;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    position: absolute; /* Menjadikan posisi absolut */
    bottom: 10px; /* Menentukan posisi bottom */
    left: 50%; /* Menentukan posisi horizontal di tengah */
    transform: translateX(-50%);
    width: 200px;
}

.btn.details:hover {
    background-color: #404040;
}

.btn.cart:hover {
    background-color: #f0f0f0;
    border-color: #212121;
    color: #212121;
}

/*Login */

/* Importing fonts from Google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #ecf0f3;
} 

.wrapper {
    max-width: 600px;
    min-height: 400px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.logo {
    width: 80px;
    margin: auto;
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3,
        8px 8px 15px #a7aaa7, -8px -8px 15px #fff;
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red; */
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .form-field .fas {
    color: #555;
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #646464;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.wrapper .btn:hover {
    background-color: #039be5;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03a9f4;
}

.wrapper a:hover {
    color: #039be5;
}

@media (max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}
